@page "/EditConfiguration"
@page "/EditConfiguration/{Gid}"
@using pote.Config.Admin.WebClient.Components

<PageTitle>Edit configuration</PageTitle>

<MudForm @ref="_form" @bind-IsValid="@_formIsValid">
    <MudGrid Style="padding: 0; margin: 0; width: 99%" Spacing="2">
        <MudItem xs="6" Class="d-flex">
            <MudTooltip Text="Save">
                <MudButton StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Outlined" Color="Color.Info" OnClick="Save" Disabled="!HasUnsavedChanges || !_formIsValid">Save</MudButton>
            </MudTooltip>
            @* <MudItem Style="margin-left:50px"> *@
            @*     <MudTooltip Text="Duplicate"> *@
            @*         <MudButton StartIcon="@Icons.Material.Filled.FileCopy" Variant="Variant.Outlined" Color="Color.Warning" OnClick="Duplicate">Duplicate</MudButton> *@
            @*     </MudTooltip> *@
            @* </MudItem> *@

        </MudItem>
        <MudItem xs="6" Class="d-flex justify-end">
            <MudTooltip Text="Delete">
                <MudButton StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Error" OnClick="Delete">Delete</MudButton>
            </MudTooltip>
        </MudItem>
    </MudGrid>

    <MudGrid Style="padding: 0;margin: 0;width: 99%" Spacing="2">
        <MudItem xs="4">
            <MudGrid Class="ma-0 pa-0" Spacing="2">
                <MudItem xs="12">
                    <MudText Style="font-size: 8pt">ID: @Header.Id</MudText>
                    <MudText Style="font-size: 8pt">Created: @Header.CreatedUtc.ToLocalTime().ToString("M/d/yyyy H:mm:ss")</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Variant="Variant.Outlined" Label="Name" @bind-Value="@Header.Name" Validation="@(new Func<string, string>(ValidateHeaderName))" Immediate="true"></MudTextField>
                    @* <MudTextField Variant="Variant.Outlined" Label="Name" @bind-Value="@Header.Name" Validation="@(new Func<string, string>(ValidateHeaderName))" Immediate="true" OnKeyUp="NameChanged"></MudTextField> *@
                </MudItem>
                <MudItem xs="4">
                    <MudCheckBox Label="Active" @bind-checked="Header.IsActive" T="bool"></MudCheckBox>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="8">
            <MudGrid Class="ma-0 pa-0">
                <MudItem xs="3" Class="ma-0 pa-0">Unhandled applications:</MudItem>
                <MudItem xs="9" Class="ma-0 pa-0">@string.Join(", ", UnhandledApplications)</MudItem>
                <MudItem xs="3" Class="ma-0 pa-0">Unhandled environments:</MudItem>
                <MudItem xs="9" Class="ma-0 pa-0">@string.Join(", ", UnhandledEnvironments)</MudItem>
                @if (!IsNew)
                {
                    <MudItem xs="3" Class="ma-0 pa-0">Usages:</MudItem>
                    <MudItem xs="9" Class="ma-0 pa-0">
                        <ConfigurationUsage HeaderId="@Header.Id"></ConfigurationUsage>
                    </MudItem>
                }
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudForm>

<MudGrid Style="padding: 0; margin: 0; width: 99%" Spacing="2">
    <MudItem xs="2">
        <MudText Class="Headline" Style="padding-left:16px">Configurations</MudText>
    </MudItem>
    <MudItem xs="6">
        <MudButton StartIcon="@Icons.Material.Filled.AddCircle" Variant="Variant.Outlined" Color="Color.Success" OnClick="AddConfiguration">Add new configuration</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Check" OnClick="TestAll" Variant="Variant.Outlined" Color="Color.Info">Test all</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.SwapVert" OnClick="ShowReorderConfigurations" Variant="Variant.Outlined" Color="Color.Dark">Reorder</MudButton>
    </MudItem>
    <MudItem xs="4" Class="d-flex justify-end">
        <MudButton EndIcon="@GetExpandAllConfigurationsButtonIcon()" OnClick="ExpandAllConfigurations">@GetExpandAllConfigurationsButtonText()</MudButton>
    </MudItem>
</MudGrid>


<MudExpansionPanels MultiExpansion="true" Elevation="3" Style="width: calc(100% - 15px);margin-bottom: 30px" @ref="_expansionPanels">
    @foreach (var configuration in Header.Configurations)
    {
        <ConfigurationContent @ref="ConfigurationContentRef" Index="@(configuration.Index)" Configuration="configuration" AllEnvironments="Environments" AllApplications="Applications"></ConfigurationContent>
    }
</MudExpansionPanels>

<MudGrid Style="padding: 0; margin: 0; width: 99%" Spacing="2">
    <MudItem xs="2">

    </MudItem>
    <MudItem xs="6">
        <MudButton StartIcon="@Icons.Material.Filled.AddCircle" Variant="Variant.Outlined" Color="Color.Success" OnClick="AddConfiguration">Add new configuration</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Check" OnClick="TestAll" Variant="Variant.Outlined" Color="Color.Info">Test all</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.SwapVert" OnClick="ShowReorderConfigurations" Variant="Variant.Outlined" Color="Color.Dark">Reorder</MudButton>
    </MudItem>
    <MudItem xs="4" Class="d-flex justify-end">
        <MudButton EndIcon="@GetExpandAllConfigurationsButtonIcon()" OnClick="ExpandAllConfigurations">@GetExpandAllConfigurationsButtonText()</MudButton>
    </MudItem>
</MudGrid>

<div id="bottom"></div>